<div class="jumbo">
  <div class="right tomster"></div>
  <!--  Passing Content to Components with {{yield}}-->
  <!--  Just like regular HTML tags, it is common to pass content to components, -->
  <!--  like <Jumbo>some content</Jumbo>. -->
  <!--  We can enable this using the {{yield}} keyword, -->
  <!--  which will be replaced with the content that was passed to the component.-->
  {{yield}}
</div>